/* your code here */
.product{
	background-color:#98FF98;
	display:flex;
}
.photo-main >img{
	background-color:#89F336;
}
.photo-album ul li{
	list-style:none;
}
.photo-album {
	background-color:#fff;
}
.photo-album ul{
	display:flex;
	
}
.variant li{
	list-style:none;
}
.price{
	color:red;
}
.variant ul{
	display:flex;
}
.variant img{
	width:40px;
	height:40px;
}
.product__info{
	padding-left:15px;
}